$font-primary: 'IBM Plex Sans', sans-serif;
$color-black1: #1b1d21;
$color-white: #fff;
$gray1: #8494ab;
$grayE9: #e9eef4;
$color-natural1: #f8f8f8;
$color-natural2: #f0f3f6;
$gradient: linear-gradient(92.29deg, #415ef4 0.33%, #7141ef 28.14%);
