$font-primary: 'IBM Plex Sans', sans-serif;
$primary-color: #6c5dd3;
$color-black1: #1b1d21;
$color-white: #fff;
$gray5F: #5f6164;
$gray1: #8494ab;
$grayE9: #e9eef4;
$gray2: #a6a7b2;
$color-natural: #676a6f;
$color-natural1: #f8f8f8;
$color-natural2: #f0f3f6;
$boder-color: #ffabc6;
$gradient: linear-gradient(92.29deg, #415ef4 0.33%, #7141ef 28.14%);
