.wrapper {
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 256px minmax(0, 1fr);
	position: relative;
}

.main-container {
	container-type: inline-size;
	container-name: containerMain;
}
.main-content {
	display: grid;
	grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
	@container containerMain (max-width: 1057px) {
		grid-template-columns: 1fr;
		&-right {
			display: block;
		}
	}
	@container containerMain (max-width: 708px) {
		.popular-section,
		.trending-section,
		.feed-section {
			padding: 15px 23px 0 23px;
		}
		.podcast-section,
		.follow-section,
		.history-section,
		.topic-section {
			padding: 0 23px 30px 23px;
		}
		.topic-section {
			padding-bottom: 150px;
		}
	}
}
@media screen and (max-width: 725px) {
	.topbar {
		padding: 24px 23px !important;
	}
}
@media screen and (max-width: 1055px) {
	.button-union {
		display: block !important;
	}
	.main-container-right {
		display: block;
	}
	.podcast {
		&-section {
			padding: 30px 60px 0 60px;
		}
		&-image {
			width: auto;
			height: auto;
		}
	}
	.follow {
		&-section {
			padding: 40px 60px 0 60px;
		}
	}
	.history {
		&-section {
			padding: 40px 60px 0 60px;
		}
		&-image {
			flex: 1 1 109px;
		}
	}
	.topic {
		&-section {
			padding: 42px 60px 150px 60px;
		}
		&-box {
			width: auto;
		}
	}
	.button-close {
		display: block;
	}
}
.active {
	transform: translateX(0);
}
