@use '../abstracts' as abs;
.topbar {
	@include abs.flexBoxs(center, space-between, 0, null);
	padding: 24px 56px;
	&-search {
		@include abs.flexBoxs(center, null, 0, null);
		width: 360px;
		background-color: abs.$color-natural2;
		padding: 15px 23px;
		border-radius: 12px;
	}
	&-logo {
		display: none;
	}
	&-avatar {
		@include abs.size(48px, 48px);
		img {
			@include abs.imgCover();
			border-radius: 100rem;
		}
	}
	&-right {
		@include abs.flexBoxs(center, center, 24px, null);
	}
}
.input-search {
	border: none;
	outline: none;
	width: 100%;
	font-size: 15px;
	margin-left: 12px;
	color: abs.$primary-color;
	caret-color: abs.$primary-color;
	&::placeholder {
		color: abs.$gray2;
	}
}
