extends ./views/layout/_dashboard

block title
  title GocastUI - Home

block stylesheet 
  link(rel="stylesheet", href="./styles/home.css")

block main
  .main-content-left
    include ./views/modules/home/_popular
    include ./views/modules/home/_trending
    include ./views/modules/home/_feed
  .main-content-right
    include ./views/modules/home/_top-podcast
    include ./views/modules/home/_follow
    include ./views/modules/home/_history
    include ./views/modules/home/_topics
