@use '../../abstracts/' as abs;
.feed {
	&-section {
		padding: 48px 60px 100px 56px;
		margin-bottom: 72px;
		container-type: inline-size;
		container-name: containerFeed;
	}
	&-header {
		@include abs.flexBoxs(center, space-between, 0, null);
		margin-bottom: 40px;
	}
	&-list {
		@include abs.flexBoxs(center, null, 0, null);
	}
	&-item {
		border-bottom: 1px solid currentColor;
		color: abs.$gray5F;
		cursor: pointer;
		span {
			font-weight: 600;
			display: inline-block;
			padding: 10px;
		}
	}
	&-right {
		@include abs.flexBoxs(center, null, 10px, null);
	}
	&-text {
		color: var(--natural-4, abs.$gray5F);
	}
	&-container {
		@include abs.flexBoxs(null, null, 30px, column);
	}
	&-content {
		border: 1px solid var(--text-color, abs.$color-natural2);
		border-radius: 10px;
	}
	&-author {
		@include abs.flexBoxs(center, null, 0, null);
		gap: 16px;
		position: relative;
		border-bottom: 1px solid var(--text-color, abs.$color-natural2);
		padding: 20px;
	}
	&-avatar {
		@include abs.size(48px);
		border-radius: 48px;
		position: relative;
		img {
			@include abs.imgCover();
			border-radius: 48px;
			background-color: abs.$boder-color;
		}
	}
	&-tick {
		position: absolute;
		bottom: -5px;
		right: 0;
	}
	&-rated {
		@include abs.flexBoxs(center, null, 4px, row);
	}
	&-rating {
		@include abs.flexBoxs(center, null, 10px, null);
		color: abs.$gray2;
	}
	&-date {
		color: abs.$gray2;
		font-weight: 400;
	}
	&-icon {
		position: absolute;
		top: 20px;
		right: 20px;
		cursor: pointer;
	}
	&-podcast {
		padding: 20px;
		@include abs.flexBoxs(center, null, 20px, null);
		border-bottom: 1px solid var(--text-color, abs.$color-natural2);
		&-heading {
			display: inline-block;
			font-weight: 400;
			color: abs.$gray2;
			margin-bottom: 6px;
		}
		&-time {
			@include abs.flexBoxs(null, null, 10px, null);
			margin-top: 12px;
			margin-bottom: 16px;
		}
		&-day,
		&-timer {
			@include abs.flexBoxs(center, null, 4px, null);
			font-weight: 400;
			color: abs.$gray2;
		}
		&-desc {
			font-weight: 400;
		}
	}
	&-image {
		flex: 0 0 152px;
		height: 158px;
		img {
			@include abs.imgCover();
			aspect-ratio: 1;
			border-radius: 10px;
		}
	}
	&-bottom {
		padding: 20px;
		@include abs.flexBoxs(center, space-between, 0, null);
	}
	&-share {
		@include abs.flexBoxs(center, null, 21px, null);
		cursor: pointer;
	}
	&-button {
		padding: 8px 14px;
		gap: 8px;
		border-radius: 8px;
	}
	@container containerFeed (max-width: 667.98px) {
		&-text {
			display: none;
		}
		&-rated {
			@include abs.flexBoxs(flex-start, null, 0, column);
		}
		&-rating {
			gap: 4px;
		}
		&-author {
			align-items: flex-start;
		}
		&-podcast {
			flex-direction: column;
		}
		&-image {
			width: 100%;
		}
	}
}
