@use '../../abstracts/' as abs;
.follow {
	&-section {
		padding: 40px 60px 0 0;
	}
	&-container {
		@include abs.flexBoxs(null, null, 21px, column);
	}
	&-content {
		@include abs.flexBoxs(center, space-between, 0, null);
	}
	&-author {
		@include abs.flexBoxs(center, null, 10px, null);
	}
	&-info {
		@include abs.flexBoxs(flex-start, null, 0, column);
	}
	&-avatar {
		flex: 0 0 46px;
		height: 46px;
		img {
			@include abs.imgCover();
			border-radius: 6px;
			box-shadow: 0 0 0 2px white, 0 0 0 3px abs.$boder-color;
		}
	}
	&-name {
		font-size: 15px;
		display: inline-block;
		margin-bottom: 4px;
	}
	&-capsion {
		font-size: 13px;
		font-weight: 400;
		color: abs.$gray2;
	}
	&-button {
		padding: 6px 18px;
		border-radius: 8px;
	}
}
