@use '../../abstracts/' as abs;
.history {
	&-section {
		padding: 40px 60px 0 0;
	}
	&-container {
		@include abs.flexBoxs(null, null, 18px, column);
	}
	&-heading {
		margin-left: auto;
		margin-right: auto;
	}
	&-image {
		flex: 0 0 109px;
		height: 67px;
		// width: 159px;
		img {
			@include abs.imgCover();
			border-radius: 4px;
		}
	}
	&-content {
		@include abs.flexBoxs(flex-start, null, 11px, null);
	}
	&-status {
		font-size: 13px;
		font-weight: 400;
		color: abs.$gray2;
		display: block;
		margin-bottom: 3px;
	}
	&-title {
		font-size: 15px;
		display: inline-block;
		margin-bottom: 3px;
	}
	&-following {
		@include abs.flexBoxs(center, null, 16px, null);
	}
	&-listen,
	&-like {
		@include abs.flexBoxs(center, null, 6px, null);
		font-size: 13px;
		font-weight: 400;
		color: abs.$gray2;
	}
}
