@use '../../abstracts/' as abs;
.popular {
	&-section {
		padding: 30px 60px 0 56px;
		container-type: inline-size;
		container-name: containerPopular;
	}
	&-title {
		font-weight: 600;
		font-size: 16px;
		margin-bottom: 20px;
	}
	&-list {
		@include abs.flexBoxs(center, space-between, 0, row);
	}
	&-item {
		@include abs.flexBoxs(center, center, 7px, column);
	}
	&-avatar {
		width: 64px;
		height: 64px;
		@include abs.size(64px);
		@include abs.flexBoxs(flex-end, null, 0, null);
		img {
			@include abs.imgCover();
			border-radius: 100rem;
			box-shadow: 0 0 0 2px white, 0 0 0 3px abs.$boder-color;
			background-color: #ffbaa5;
		}
	}
	&-name {
		font-weight: 400;
		color: abs.$gray5F;
	}
	@container containerPopular (max-width: 579.98px) {
		&-avatar {
			padding: 3px;
		}
		&-list {
			overflow-x: auto;
			overflow-y: hidden;
			scroll-snap-type: x mandatory;
			scroll-snap-stop: always;
			gap: 20px;
			padding: 10px;
			&::-webkit-scrollbar {
				display: none;
				width: 0;
			}
			& > * {
				scroll-snap-align: start;
			}
		}
	}
}
