@use '../../abstracts/' as abs;
.podcast {
	&-section {
		padding: 30px 60px 0 0;
		position: relative;
	}
	&-list {
		display: grid;
		grid-template-columns: repeat(4, minmax(0, 1fr));
		gap: 12px;
	}
	&-image {
		@include abs.size(74px);
		img {
			@include abs.imgCover();
			border-radius: 10px;
			aspect-ratio: 1;
		}
	}
}
