@use '../../abstracts/' as abs;
.podcast {
	&-section {
		padding: 30px 60px 0 0;
	}
	&-list {
		display: grid;
		grid-template-columns: repeat(4, minmax(0, 1fr));
		gap: 12px;
	}
	&-image {
		height: 74px;
		width: 74px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 10px;
			aspect-ratio: 1;
		}
	}
}
