@use '../../abstracts/' as abs;
.topic {
	&-section {
		padding: 42px 60px 0 0;
	}
	&-content {
		display: grid;
		grid-template-columns: repeat(2, minmax(0, 1fr));
		gap: 12px 22px;
	}
	&-box {
		@include abs.size(155px, 86px);
		position: relative;
		@include abs.flexBoxs(null, flex-end, 0, column);
		padding: 10px;
	}
	&-img {
		position: absolute;
		inset: 0;
		@include abs.imgCover();
		border-radius: 10px;
	}
	&-overlay {
		position: absolute;
		inset: 0;
		z-index: 19;
		background: #1b1d21;
		opacity: 0.74;
		border-radius: 10px;
	}
	&-title {
		color: abs.$color-white;
		display: block;
	}
	&-member {
		font-size: 13px;
		font-weight: 400;
		color: abs.$color-white;
		display: block;
	}
	&-title,
	&-member {
		position: relative;
		z-index: 99;
	}
}
