@use '../../abstracts/' as abs;
.trending {
	&-section {
		padding: 48px 60px 0 56px;
	}
	&-title {
		font-weight: 600;
		font-size: 16px;
		margin-bottom: 11px;
	}
	&-banner {
		background-color: var(--trending-banner, #f8f8f8);
		position: relative;
		border-radius: 10px;
		padding: 20px;
		container-type: inline-size;
		container-name: containerTrending;
	}
	&-info {
		width: 329px;
	}
	&-heading {
		font-weight: 600;
		font-size: 22px;
		span {
			color: transparent;
			background-clip: text;
			-webkit-background-clip: text;
			background-image: abs.$gradient;
		}
		margin-bottom: 11px;
	}
	&-podcast {
		display: block;
		font-weight: 400;
		color: var(--gray-2, abs.$color-natural);
		margin-bottom: 4px;
	}
	&-author {
		font-weight: 400;
		color: var(--text-white, #232333);
		span {
			color: var(--gray-2, abs.$color-natural);
		}
		display: block;
		margin-bottom: 20px;
	}
	&-button {
		padding: 10px 16px;
		border-radius: 8px;
		gap: 8px;
	}
	&-image {
		position: absolute;
		bottom: 0;
		right: 15px;
	}
	@container containerTrending (max-width: 623.98px) {
		&-image {
			display: none;
		}
	}
}
