@use '../abstracts' as *;
.button {
	@include flexBoxs(center, null, 0, null);
	font-size: 15px;
	font-weight: 600;
	color: $color-white;
}
.button-primary {
	background-color: $primary-color;
}
.button-upload {
	padding: 13px 16px;
	border-radius: 8px;
	gap: 6px;
}
.button-close {
	position: absolute;
	top: 0;
	display: none;
}
