@use '../abstracts/' as *;
.toggle {
	@include size(30px, 17px);
	background-image: $gradient;
	border-radius: 30px;
	@include flexBoxs(center, space-between, 0, null);
	padding: 1.5px 2px;
	cursor: pointer;
	&-spinner {
		@include size(14px);
		border-radius: 100rem;
		background-color: $color-natural1;
	}
}
