@use '../abstracts/' as *;
.toggle {
	&-main {
		@include size(30px, 17px);
		border-radius: 100rem;
		background-color: #676a6f;
		padding: 1.5px 2px;
		cursor: pointer;
		transition: all 0.2s linear;
	}
	&-spinner {
		border-radius: 100rem;
		background-color: white;
		width: 14px;
		aspect-ratio: 1;
		transition: all 0.2s linear;
	}
	input {
		display: none;
		&:checked + .toggle-main {
			background-image: $gradient;
		}
		&:checked + .toggle-main .toggle-spinner {
			transform: translateX(12px);
		}
	}
}
