.follow-section 
  .widget-header 
    h3.heading Suggested Follows
    a(href="#").link
      span View all 
      include ../../icons/_icon-arrow-r
  .follow-container 
    +followItem('../../../images/follow-1.png','Yahia Amin','@yahiamdamin')
    +followItem('../../../images/follow-2.png','Mufti Menk','@muftimenk')
    +followItem('../../../images/follow-3.png','Omar Suleiman','@omarsuleiman',true)
    +followItem('../../../images/follow-2.png','Nouman Ali Khan','@noumanalikhan')