.history-section 
  .widget-header 
    h3.heading.history-heading Listening history
  .history-container 
    +historyItem('../../../images/listen-1.png','Perspective with Yahia Amin',`Don't Always Win | LifeSpring`, 156, 78)
    +historyItem('../../../images/listen-2.png','Perspective with Mufti Menk',`Keep Moving. Don't Look Back!`, 200, 99)
    +historyItem('../../../images/listen-3.png','Perspective with Yahia Amin',`Don't Always Win | LifeSpring`, 359, 56)