.popular-section 
  h3.popular-title Popular Hosts 
  .popular-list
      each item in [{name: 'Thomas', img: './images/user-1.png', bg: '#FFBAA5'},{name: 'Darrell', img: './images/user-2.png', bg: '#FFD381'}]
        .popular-item 
          .popular-avatar 
            img(srcSet=`${item.img} 2x`, alt="Avatar",style=`background-color:${item.bg};`)
          span.popular-name= item.name 
