.popular-section 
  h3.popular-title Popular Hosts 
  .popular-list
      each item in [{name: 'Thomas', img: './images/user-1.png', bg: '#FFBAA5'},{name: 'Darrell', img: './images/user-2.png', bg: '#FFD381'},{name: 'Arlene', img: './images/user-3.png', bg: '#B6AEE9'},{name: 'Kristin', img: './images/user-4.png', bg: '#FFB5CD'},{name: 'Courtney', img: './images/user-5.png', bg: '#FFE2AB'},{name: 'Cody', img: './images/user-6.png', bg: '#FFC7D9'},{name: 'Arlene', img: './images/user-7.png', bg: '#B6AEE9'}]
        .popular-item 
          .popular-avatar 
            img(srcSet=`${item.img} 2x`, alt="Avatar",style=`background-color:${item.bg};`)
          span.popular-name= item.name 
