.topic-section 
  .widget-header 
    h3.heading Topics
    a(href="#").link
      span View all 
      include ../../icons/_icon-arrow-r
  .topic-content 
    +topicItem()
    +topicItem()
    +topicItem()
    +topicItem()
