.podcast-section
  .widget-header 
    h3.heading Top 8 Podcast 
    a(href="#").link
      span View all 
      include ../../icons/_icon-arrow-r
  .podcast-list
    each img in ['../../../images/podcast-1.png','../../../images/podcast-2.png','../../../images/podcast-3.png','../../../images/podcast-4.png','../../../images/podcast-5.png','../../../images/podcast-6.png','../../../images/podcast-7.png','../../../images/podcast-8.png']
      .podcast-image 
        img(srcSet=`${img} 2x`, alt="Podcast")