.trending-section
  h3.trending-title Trending 
  .trending-banner
    .trending-info
      p.trending-heading 
        span UX Design 
        | Process: Mental Modeling Framework.
      span.trending-podcast Podcast Episode - 1
      span.trending-author Thomas L. Fletcher
        span  ( Product Designer at UIHUT )
      button.button.button-primary.trending-button 
        include ../../icons/_icon-play
        span Play Now
    .trending-image
      img(srcSet="./images/banner.png 2x", alt="Banner")