.navigation 
  button.button-menu 
    include ../icons/_icon-menu
  button
    include ../icons/_icon-search
  button.button.button-primary.navigation-button
    span
      include ../icons/_icon-upload
  button
    include ../icons/_icon-message
  button
    include ../icons/_icon-noti