*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
select,
textarea {
  background-color: transparent;
  outline: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  min-height: 100vh;
  font-family: "IBM Plex Sans", sans-serif;
  color: #1b1d21;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  background-color: white;
}

.is-active {
  border-bottom: 1px solid currentColor;
  color: #6c5dd3;
}

.heading {
  font-weight: 600;
  font-size: 16px;
}

.link {
  display: flex;
  align-items: center;
  gap: 2px;
  color: #a6a7b2;
  font-size: 13px;
}

.widget-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.followed {
  padding: 6px 18px;
  border: 2px solid #e5eaf1;
  background-color: white !important;
  color: #a5b4cb !important;
  border-radius: 8px;
}

.navigation {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 23px;
  width: 100%;
  height: 72px;
  background-color: #fff;
  border-top: 1px solid #e4e4e4;
  display: none;
}
.navigation-button {
  padding: 14px 12px;
  border-radius: 100rem;
}
.navigation button {
  flex: 0 0 44px;
  height: 44px;
}

.button-union {
  background-image: linear-gradient(92.29deg, #415ef4 0.33%, #7141ef 28.14%);
  position: fixed;
  bottom: 100px;
  right: 24px;
  padding: 11px;
  border-radius: 60px;
  box-shadow: 0px 6px 24px rgba(108, 93, 211, 0.4);
  cursor: pointer;
  display: none;
}

.button {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
}

.button-primary {
  background-color: #6c5dd3;
}

.button-close {
  position: absolute;
  top: 0;
  display: none;
}

.toggle {
  width: 30px;
  height: 17px;
  background-image: linear-gradient(92.29deg, #415ef4 0.33%, #7141ef 28.14%);
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5px 2px;
  cursor: pointer;
}
.toggle-spinner {
  width: 14px;
  height: 14px;
  border-radius: 100rem;
  background-color: #f8f8f8;
}

.sidebar {
  padding: 48px 30px;
  border-right: 1px solid #f0f3f6;
}

.logo {
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 44px;
}

.menu-list:not(:last-child) {
  border-bottom: 1px solid #e9eef4;
  padding-bottom: 26px;
}
.menu-item {
  margin-bottom: 6px;
}
.menu-icon {
  flex: 0 0 24px;
}
.menu-link {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: row;
  color: #8494ab;
  line-height: 1.43;
  padding: 8px 20px;
  border-radius: 12px;
}
.menu-link [fill^="#E5"] {
  opacity: 0.7;
}
.menu-link:hover {
  background-image: linear-gradient(92.29deg, #415ef4 0.33%, #7141ef 28.14%);
  color: #fff;
}
.menu-link:hover [fill^="#A5"] {
  fill: #a79ee5;
  mix-blend-mode: normal;
}
.menu-link:hover [fill^="#E5"] {
  fill: #f8f8f8;
  opacity: 1;
}
.menu-title {
  display: inline-block;
  color: #8494ab;
  font-weight: 400;
  font-size: 13px;
  margin: 26px 20px 20px;
}

.wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 256px minmax(0, 1fr);
  position: relative;
}

.main-container {
  container-type: inline-size;
  container-name: containerMain;
}

.main-content {
  display: grid;
  grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
}
@container containerMain (max-width: 1057px) {
  .main-content {
    grid-template-columns: 1fr;
  }
  .main-content-right {
    display: block;
  }
}
@container containerMain (max-width: 708px) {
  .main-content .popular-section,
  .main-content .trending-section,
  .main-content .feed-section {
    padding: 15px 23px 0 23px;
  }
  .main-content .podcast-section,
  .main-content .follow-section,
  .main-content .history-section,
  .main-content .topic-section {
    padding: 0 23px 30px 23px;
  }
  .main-content .topic-section {
    padding-bottom: 150px;
  }
}

@media screen and (max-width: 725px) {
  .topbar {
    padding: 24px 23px !important;
  }
}
@media screen and (max-width: 1055px) {
  .button-union {
    display: block !important;
  }
  .main-container-right {
    display: block;
  }
  .podcast-section {
    padding: 30px 60px 0 60px;
  }
  .podcast-image {
    width: auto;
    height: auto;
  }
  .follow-section {
    padding: 40px 60px 0 60px;
  }
  .history-section {
    padding: 40px 60px 0 60px;
  }
  .history-image {
    flex: 1 1 109px;
  }
  .topic-section {
    padding: 42px 60px 150px 60px;
  }
  .topic-box {
    width: auto;
  }
  .button-close {
    display: block;
  }
}
.active {
  transform: translateX(0);
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 56px;
}
.topbar-search {
  display: flex;
  align-items: center;
  width: 360px;
  background-color: #f0f3f6;
  padding: 15px 23px;
  border-radius: 12px;
}
.topbar-logo {
  display: none;
}
.topbar-avatar {
  width: 48px;
  height: 48px;
}
.topbar-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100rem;
}
.topbar-right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.input-search {
  border: none;
  outline: none;
  width: 100%;
  font-size: 15px;
  margin-left: 12px;
  color: #6c5dd3;
  caret-color: #6c5dd3;
}
.input-search::placeholder {
  color: #a6a7b2;
}

.button-upload {
  padding: 13px 16px;
  border-radius: 8px;
  gap: 6px;
}

/*# sourceMappingURL=app.css.map */
